/.TurnDescriptionLabelProvider.java._trace
/.TurnDescriptionLabelProvider.xtendbin
/.TurnLabelProvider.java._trace
/.TurnLabelProvider.xtendbin
/TurnDescriptionLabelProvider.java
/TurnLabelProvider.java
