/.TurnParsingTest.java._trace
/.TurnParsingTest.xtendbin
/TurnParsingTest.java
/.Parameterized.java._trace
/.ParameterizedXtextRunner.java._trace
/.XtextParametersRunnerFactory.java._trace
/.Parameterizedtest.java._trace
/.Parameterized.xtendbin
/.Parameterizedtest.xtendbin
/ParameterizedXtextRunner.java
/Parameterizedtest.java
/XtextParametersRunnerFactory.java
